<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{card.bank}}">
  <ion-content>
    <div class="list">
      <form ng-submit="addCard()">
        <label class="item item-input item-select">
          <span class="input-label">Type</span>
          <select ng-model="myCard.cardType">
            <option selected>Credit card</option>
            <option>Debit card</option>
            <option>Other</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">Valid through</span>
          <input type="date" ng-model="myCard.validDate">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Points</span>
          <input type="number" placeholder="2000" ng-model="myCard.point">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Credit limit</span>
          <input type="number" placeholder="5000" ng-model="myCard.creditLimit">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Alias</span>
          <input type="text" placeholder="Card 1" ng-model="myCard.aliasName">
        </label>

        <button class="button button-block button-positive">
          Submit
        </button>
      </form>
    </div>
    </ion-content>
</ion-view>
