<ion-view view-title="Welcome">
    <ion-content class="padding">
        <div class="list">
            <form>
                <div class="row item">
                    <label class="item-input row col-50">
                        <span class="input-label">标签价格</span>
                        <input type="tel" ng-model="goods.tagPrice" ng-change="calculatePrice()">
                    </label>
                    <label class="item-input">
                        <span class="input-label">消费税</span>
                        <input type="text" ng-model="settings.tax" ng-change="calculatePrice()">
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">店内折扣券</span>
                        <select class="col-33" ng-model="coupon.store" ng-change="calculatePrice()">
                            <option ng-repeat="off in offs track by $index" ng-selected="{{off==coupon.store}}" ng-value="off">{{off}}%</option>
                        </select>
                        <span class="col">{{goods.couponStore | currency:" - $"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">折扣优惠券</span>
                        <select class="col-33" ng-model="coupon.off" ng-change="calculatePrice()">
                            <option ng-repeat="off in offs track by $index" ng-selected="{{off==coupon.off}}" ng-value="off">{{off}}%</option>
                        </select>
                        <span class="col">{{goods.couponOff | currency:" - $"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">现金优惠券</span>
                        <input class="col-33" type="tel" ng-model="coupon.money" ng-change="calculatePrice()">
                        <span class="col">{{goods.couponMoney | currency:" - $"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">共优惠：{{goods.coupon | currency}}，{{goods.coupon * settings.rate | currency:"￥"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">采购成本价：{{goods.purchasePrice | currency}}，{{goods.purchasePrice * settings.rate | currency:"￥"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">美国快递 $：</span>
                        <input class="col-33" type="tel" ng-model="express.us" ng-change="calculatePrice()">
                        <span class="col">{{express.us * settings.rate | currency:"￥"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">中国快递￥：</span>
                        <input class="col-33" type="tel" ng-model="express.cn" ng-change="calculatePrice()">
                        <span class="col">{{express.cn | currency:"￥"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">关税比例：</span>
                        <select class="col-33" ng-model="express.duty" ng-change="calculatePrice()">
                            <option ng-repeat="d in duty track by $index" ng-selected="{{d.tax==express.duty}}" ng-value="{{d.tax}}">{{d.tax*100 + "%" + d.category}}</option>
                        </select>
                        <span class="col">{{goods.purchasePrice * express.duty * settings.rate | currency:"￥"}}</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row">
                        <span class="input-label">其他成本￥：</span>
                        <input type="tel" ng-model="express.other" ng-change="calculatePrice()">
                        <span class="col">+ {{express.other | currency}}￥</span>
                    </label>
                </div>
                <div class="row item">
                    <label class="item-input row col-4">
                        <span class="input-label">国内成本价：
                            {{(goods.purchasePrice*(1+express.duty) + express.us)*settings.rate + express.cn | currency:"￥"}}
                        </span>
                    </label>
                </div>
                <label class="row item">
                    <button class="button button-block button-positive" ng-click="calculatePrice()">Calculate</button>
                </label>
            </form>

        </div>

    </ion-content>
</ion-view>
