<ion-view view-title="Prices Lists" class="tab-home-view">
    <ion-content>
        <div class="row item">
            <label class="item-input col-33">
                <span class="input-label">Low $</span>
                <input class="sell-input-underline" type="tel" ng-model="tagPrice.low" ng-blur="calculatePrice()">
            </label>
            <label class="item-input col-33">
                <span class="input-label">High $</span>
                <input class="sell-input-underline" type="tel" ng-model="tagPrice.high" ng-blur="calculatePrice()">
            </label>
            <label class="item-input col-33">
                <span class="input-label">Step $</span>
                <input class="sell-input-underline" type="tel" ng-model="tagPrice.step" ng-blur="calculatePrice()">
            </label>
        </div>
        <div class="row item">
            <label class="item-input col-33">
                <span class="input-label">Store%</span>
                <input class="sell-input-underline" type="tel" ng-model="tagPrice.offStore" ng-change="calculatePrice()">
            </label>
            <label class="item-input col-33">
                <span class="input-label">Coupon%</span>
                <input class="sell-input-underline" type="tel" ng-model="tagPrice.offCoupon" ng-change="calculatePrice()">
            </label>
            <label class="item-input col-33">
                <span class="input-label">Money$</span>
                <input class="sell-input-underline" type="tel" ng-model="tagPrice.offMoney" ng-change="calculatePrice()">
            </label>
        </div>
        <table class="sell-table">
            <thead>
            <tr>
                <th>Tag Price</th>
                <th>Store</th>
                <th>Coupon</th>
                <th>After Tax</th>
                <th>RMB</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="price in prices" on-tap="onTapRow($event)">
                <td>{{ price | currency}}</td>
                <td>{{ price * (1 - tagPrice.offStore/100) | currency}}</td>
                <td>{{ price * (1 - tagPrice.offStore/100) * (1 - tagPrice.offCoupon/100) - tagPrice.offMoney | currency}}</td>
                <td>{{ (price * (1 - tagPrice.offStore/100) * (1 - tagPrice.offCoupon/100) - tagPrice.offMoney) * (1 + settings.tax/100) | currency}}</td>
                <td>{{ (price * (1 - tagPrice.offStore/100) * (1 - tagPrice.offCoupon/100) - tagPrice.offMoney) * (1 + settings.tax/100) * settings.rate | currency:"￥"}}</td>
            </tr>
            </tbody>
        </table>
    </ion-content>
</ion-view>