<ion-view view-title="Prices Lists" class="tab-home-view">
    <ion-content>
        <div class="row">
            <div class="col-33 input-group">
                <span>Low</span>
                <input type="tel" ng-model="tagPrice.low" ng-blur="calculatePrice()" integer select-on-click>
                <span>$</span>
            </div>
            <div class="col-34 input-group">
                <span>High</span>
                <input type="tel" ng-model="tagPrice.high" ng-blur="calculatePrice()" integer select-on-click>
                <span>$</span>
            </div>
            <div class="col-33 input-group">
                <span>Step</span>
                <input type="tel" ng-model="tagPrice.step" ng-blur="calculatePrice()" integer select-on-click>
                <span>$</span>
            </div>
        </div>
        <div class="row">
            <div class="col-33 input-group">
                <span>Store</span>
                <input type="tel" ng-model="tagPrice.offStore" ng-blur="calculatePrice()" integer select-on-click>
                <span>%</span>
            </div>
            <div class="col-34 input-group">
                <span>Coupon</span>
                <input type="tel" ng-model="tagPrice.offCoupon" ng-blur="calculatePrice()" integer select-on-click>
                <span>%</span>
            </div>
            <div class="col-33 input-group">
                <span>Cash</span>
                <input type="tel" ng-model="tagPrice.offMoney" ng-blur="calculatePrice()" integer select-on-click>
                <span>$</span>
            </div>
        </div>
        <table class="sell-table">
            <thead>
            <tr>
                <th>Tag Price</th>
                <th>Store</th>
                <th>Coupon</th>
                <th>After Tax</th>
                <th>RMB</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="price in prices" on-tap="onTapRow($event)">
                <td>{{ price | currency}}</td>
                <td>{{ price * (1 - tagPrice.offStore/100) || price | currency}}</td>
                <td>{{ price * (1 - tagPrice.offStore/100) * (1 - tagPrice.offCoupon/100) - tagPrice.offMoney || price | currency}}</td>
                <td>{{ (price * (1 - tagPrice.offStore/100) * (1 - tagPrice.offCoupon/100) - tagPrice.offMoney || price) * (1 + settings.tax/100) | currency}}</td>
                <td>{{ (price * (1 - tagPrice.offStore/100) * (1 - tagPrice.offCoupon/100) - tagPrice.offMoney || price) * (1 + settings.tax/100) * settings.rate | currency:"￥"}}</td>
            </tr>
            </tbody>
        </table>
    </ion-content>
</ion-view>
