/* Empty. Add your own CSS if you like */
input.sell-input-underline{
    border-bottom: 1px solid #C0C0C0;
}
.color-red{
    color: #d4081a;
}
.sell-table{
    width: 96%;
    margin: 10px 2%;
    text-align: center;
}
.sell-table thead th{
    height: 37px;
    line-height: 20px;
    font-size: 16px;
    border-bottom: 1px solid #CCCCCC;
    width: 20%;
    vertical-align: middle;
    font-weight: bold;
}
.sell-table tbody tr {
    height: 47px;
    line-height: 20px;
    border-bottom: 1px solid #CCCCCC;
}
.sell-table tbody tr:nth-child(even){
    background-color: #F9F9F9;
}
.sell-table tbody tr.selected{
    background-color: #D9EDF7;
}
.sell-table tbody td{
    font-size: 14px;
    vertical-align: middle;
}